*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  padding: 2% 6%;

  a{
    text-decoration:none;
    color:black;
  }
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

